<html lang="en">
	<head>
		<title>{{title}}</title>
            <meta 	charset="UTF-8">
            <meta 	name="description" 	content="Twitter Feed">
            <meta 	name="keywords"    	content="homepage,Themistoklis Theologitis , twf">
            <meta 	name="author" 		content="Themistoklis Theologitis">
	    	<meta 	name="viewport" 	content="width=device-width,initial-scale=1">
	    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			<script src="js/bootstrap.min.js"></script>
	    	<link 	href="css/bootstrap.min.css" rel="stylesheet"> 
	    	<link 	href="css/about.css" 	rel ="stylesheet" type="text/css">	 
	    	<script src="js/about.js"></script>
	    	<link   href="css/languages.min.css" rel ="stylesheet" type="text/css">
	    	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
			<script src="loadie.js-master/js/jquery.loadie.min.js"></script>

	</head>

	<body>
		<header>
			<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav">
			   	<div class="navbar-header">
				    <a class="navbar-toggle"> 
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
				    <a class="navbar-brand" href="/home">Twitter Feed</a>
				    <img id="top_logo" src="../images/logo_tw_40.png" alt="Twitter Logo">
			   	</div>

			   	

			    <div id="main_menu">
			    	<div id="navbarCollapse" class="collapse navbar-collapse">
			            <ul id="nav-navbar-nav" class="nav navbar-nav">
			                <li class="active"><a href="/home">Home</a></li>
			                <li><a href="allTweets">All Tweets</a></li>
					        <li class="dropdown">
								<a href="#" class="dropdown-toogle" data-toggle = "dropdown"> {{user}}<b class="caret"></b></a>
								<ul id="dropdownMenu" class = "dropdown-menu">
					                <li><a href="javascript:window.location.href= '/delete_profile';" target="_blank">Delete Profile</a></li>
					                <li><a href="javascript:window.location.href= '/logout';" target="_blank">Logout</a></li>
					            </ul>
					        </li>
			                <li><a href="/about">About</a></li>
			            </ul>
			        </div>
			    </div>
			</div>
		</header>

		<div id="main" class="main">
			<div id="slidemenu">
				<div id="filter_menu">
					<div id="navbarCollapse" class="collapse navbar-collapse">
			            <ul id="nav-navbar-nav" class="nav navbar-nav">
			                <li class="active"><a href="/home">Home</a></li>
			                <li><a href="allTweets">All Tweets</a></li>
					        <li class="dropdown">
								<a href="#" class="dropdown-toogle" data-toggle = "dropdown"> {{user}}<b class="caret"></b></a>
								<ul id="dropdownMenu" class = "dropdown-menu">
					                <li><a href="javascript:window.location.href= '/delete_profile';" target="_blank">Delete Profile</a></li>
					                <li><a href="javascript:window.location.href= '/logout';" target="_blank">Logout</a></li>
					            </ul>
					        </li>
			                <li><a href="#" target="_blank">About</a></li>
			            </ul>
			        </div>
				</div>
			</div>
			<div id="mainInfo">
				<div id="logo">
					<img src="../images/twitter_feed_logo.png" alt="Twitter Logo">
				</div>
				<div id="userFields">
					<div id="textDiv">
						<h2 id="description"><u>Περιγραφή Συστήματος </u></h2>
						<p id="description_text">Το twitter feed είναι ένα σύστημα συλλογής πληροφοριών από το Social Network Twitter με εξειδικευμένες δυνατότητες αναζήτησης.</p>
						<h2 id="system_details"><u> Τρόπος Λειτουργίας Συστήματος </u></h2>
						<p id="system_details_text"> 
						Μέσω του Twitter Feed ο χρήστης μπορεί χωρίς να δημιουργήσει λογαριασμό στο twitter να συλλέξει πληροφορίες σύμφωνα με κάποια κριτήρια τα οποία έχει καθορίσει.</p>
						<p id="system_details_text2">Τέτοια κριτήρια μπορούν να αποτελέσουν το κείμενο / λέξη , η ημερομηνία δημιουργίας , ο χρήστης ή κάποιο hashtag του tweet.</p>
						<p id="system_details_text3">Για την είσοδο στο σύστημα απαραίτητη είναι η δημιουργία λογαριασμού.</p>
						<p id="contact_info">Contact Info: <a href="mailto:theothem@csd.uoc.gr" target="_top">theothem@csd.uoc.gr</a></p>
						<div id="report_div" class="Centered">
							<a id="report" href="report.pdf" download>
								<img id="report_button" src="../images/report.png">	
								<p id="report_text"> Αναφορά Συστήματος.pdf</p>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<footer>
			<div id="left_footer">
				<span class="lang-xs" lang="en"></span>	
			</div>
			<div id="right_footer">
				<p>© Copyright 2015 Theologitis Themistoklis. All Rights Reserved</p>	
			</div>
		</footer>
	</body>
</html>