<html lang="en">
	<head>
		<title>{{title}}</title>
            <meta 	charset="UTF-8">
            <meta 	name="description" 	content="Twitter Feed">
            <meta 	name="keywords"    	content="homepage,Themistoklis Theologitis , twf">
            <meta 	name="author" 		content="Themistoklis Theologitis">
	    	<meta 	name="viewport" 	content="width=device-width,initial-scale=1">
	    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			<script src="js/bootstrap.min.js"></script>
	    	<link 	href="css/bootstrap.min.css" rel="stylesheet"> 
	    	<link 	href="css/allTweets.css" 	rel ="stylesheet" type="text/css">	 
	    	<script src="js/allTweets.js"></script>
	    	<link   href="css/languages.min.css" rel ="stylesheet" type="text/css">
	</head>

	<body>
		<header>
			<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav">
			   	<div class="navbar-header">
				    <a class="navbar-toggle"> 
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
				    <a class="navbar-brand" href="/">Twitter Feed</a>
			   	</div>

			   	<div id="search_bar">
			    	<form id="search_form" role="search" action="#">
			    		<div id="search_bar_left">
			    			<input id="search_bar_item" type="text" class="form-control" placeholder="Search">
			    		</div>
				        <div id="search_bar_button">
				        	<button id="search_button" type="submit" class="btn btn-success">
					    		<span class="glyphicon glyphicon-search"></span>
					    	</button>
				        </div>
					</form>
			    </div>

			    <div id="main_menu">
			    	<div id="navbarCollapse" class="collapse navbar-collapse">
			            <ul id="nav-navbar-nav" class="nav navbar-nav">
			                <li ><a href="/">Home</a></li>
			                <li class="active"><a href="/allTweets">All Tweets</a></li>
			                <li class="dropdown">
								<a href="#" class="dropdown-toogle" data-toggle = "dropdown"> Contact <b class="caret"></b></a>
								<ul id="dropdownMenu" class = "dropdown-menu">
					                <li><a href="https://www.facebook.com/themis.theologitis" target="_blank">Facebook</a></li>
					                <li><a href="https://twitter.com/moukooss" target="_blank">Twitter</a></li>
					                <li><a href="https://plus.google.com/u/0/114853911892757077911" target="_blank">Google+</a></li>
					                <li><a href="mailto:theothem@csd.uoc.gr" target="_blank">Email</a></li>
					            </ul>
					        </li>
			                <li><a href="#" target="_blank">About</a></li>
			            </ul>
			        </div>
			    </div>
			   	
			</div>
		</header>

		<div id="main" class="main">
			
			<div id="slidemenu">
				<form id="search_form_slidemenu" role="search" action="#">
		    		<div id="search_bar_left_slidemenu">
		    			<input id="search_bar_item_slidemenu" type="text" class="form-control" placeholder="Search">
		    		</div>
			        <div id="search_bar_button_slidemenu">
			        	<button id="search_button_slidemenu" type="submit" class="btn btn-success">
				    		<span class="glyphicon glyphicon-search"></span>
				    	</button>
			        </div>
				</form>
				<div id="filter_menu">
					
				</div>
				
			</div>
			
			<div id="filter_window" class="filter_window">
				
			</div>

			<div id="tweet_window" class="tweet_window">
				<script type="text/javascript">
							var load_length ;

							$(document).ready(function () {
							    load_length = $("#tweet_window").height();
							    $('#main').on('scroll', function() {
							            if($(this).scrollTop() >= load_length-1000) {
							                alert(load_length);
							                load_length = load_length * 2 ;
							                $.ajax({
							                    type: 'POST',
							                    url: 'http://localhost:3000/load_tweets'
							                });
							                
							                var text = "{{#tweet_data}}<div id="+"twits"+">{{_id}}</div>{{/tweet_data}}";
							                var element = document.createElement("div");
							                element.id  = "twits";
							                element.innerHTML = text;
							                document.getElementById('tweet_window').appendChild(element);
							            }    
							    });
							});
				</script>
			   	{{#tweet_data}}
	    			<div id="twits">	
	    				{{_id}}
	    			</div>
			    {{/tweet_data}}
			</div>
		</div>

		<footer>
			<div id="left_footer">
				<span class="lang-xs" lang="en"></span>	
			</div>
			<div id="right_footer">
				<p>© Copyright 2015 Theologitis Themistoklis. All Rights Reserved</p>	
			</div>
		</footer>
	</body>
</html>