<html lang="en">
	<head>
		<title>{{title}}</title>
            <meta 	charset="UTF-8">
            <meta 	name="description" 	content="Twitter Feed">
            <meta 	name="keywords"    	content="homepage,Themistoklis Theologitis , twf">
            <meta 	name="author" 		content="Themistoklis Theologitis">
	    	<meta 	name="viewport" 	content="width=device-width,initial-scale=1">
	    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			<script src="js/bootstrap.min.js"></script>
	    	<link 	href="css/bootstrap.min.css" rel="stylesheet"> 
	    	<link 	href="css/index.css" 	rel ="stylesheet" type="text/css">	 
	    	<script src="js/index.js"></script>
	    	<link   href="css/languages.min.css" rel ="stylesheet" type="text/css">
	    	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
			<script src="loadie.js-master/js/jquery.loadie.min.js"></script>
	</head>
	<body>
		<header>
			<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav">
			   	<div class="navbar-header">
				    <a class="navbar-toggle"> 
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
				    <a class="navbar-brand" href="/">Twitter Feed</a>
				    <img id="top_logo" src="../images/logo_tw_40.png" alt="Twitter Logo">
			   	</div>
			   	<form id="login_form" action="/login" method="POST">
			   			<input type="hidden" id="_csrf" name="_csrf" value={{csrfToken}}>
					   	<div id="Log">
					   		<input name="username" id="username"class="form-control" type="text" value="Login"
											onfocus="if (this.value=='Login') this.value = ''"  
								    		onblur="if (this.value=='') this.value = 'Login'">
					   		</input>
					   		<img src="../images/user1.png" id="input_img1">	
					   	</div>	 
					   	<div id="Pass">
					   		<input name="password" id="password" class="form-control" type="password" value="Password"
											onfocus="if (this.value=='Password') this.value = ''"  
								    		onblur="if (this.value=='') this.value = 'Password'">
					   		</input>
					   		<img src="../images/lock.png" id="input_img2">
					   	</div>
					   	<button type="submit" class="styled-button-2" id="loginButton" >Login</button>
			   	</form>
			</div>
		</header>

		<div id="main" class="main">
			<div id="slidemenu">
				<form id="search_form_slidemenu" role="search" action="#">
		    		<div id="search_bar_left_slidemenu">
		    			<input id="search_bar_item_slidemenu" type="text" class="form-control" placeholder="Search">
		    		</div>
			        <div id="search_bar_button_slidemenu">
			        	<button id="search_button_slidemenu" type="submit" class="btn btn-success">
				    		<span class="glyphicon glyphicon-search"></span>
				    	</button>
			        </div>
				</form>
				<div id="filter_menu">
				</div>
			</div>
			<div id="mainInfo">
				<div id="bar">
				</div>
				<div id="logo">
					<img src="../images/home_logo3.png" alt="Twitter Logo">
				</div>

				<form id="login_form2" action="/login" method="POST">
		   			<input type="hidden" id="_csrf" name="_csrf" value={{csrfToken}}>
				   	<div id="Log">
				   		<input name="username" id="username"class="form-control" type="text" value="Login"
										onfocus="if (this.value=='Login') this.value = ''"  
							    		onblur="if (this.value=='') this.value = 'Login'">
				   		</input>
				   		<img src="../images/user1.png" id="input_img1">	
				   	</div>	 
				   	<div id="Pass">
				   		<input name="password" id="password" class="form-control" type="password" value="Password"
										onfocus="if (this.value=='Password') this.value = ''"  
							    		onblur="if (this.value=='') this.value = 'Password'">
				   		</input>
				   		<img src="../images/lock.png" id="input_img2">
				   	</div>
				   	<button type="submit" class="styled-button-2" id="loginButton" >Login</button>
				</form>

				<div id="userFields2">
			        <a id="title2"  data-toggle="collapse" data-target="#content_box2">
			        	<span class="caret"></span>
			          	<span>Sign Up</span>
			        </a>
					<div id="content2">
						<div id="content_box2" class="collapse">
							<form id="text_form2" role="search" onsubmit="send();return false;" >
								<div id="usrename">
									<input id="usrname" class="form-control" type="text" value="Username"
									onfocus="if (this.value=='Username') this.value = ''"  
						    		onblur="if (this.value=='') this.value = 'Username'">
						    		<i id="usrname_warning">More than 4 characters</i>
								</div>
							</form>
							<form id="text_form2" role="search" onsubmit="send();return false;" >
								<div id="passwrd">
									<input id="pass" class="form-control" type="password" value="Password"
									onfocus="if (this.value=='Password') this.value = ''"  
						    		onblur="if (this.value=='') this.value = 'Password'">
						    		<i id="password_warning">More than 6 digits.</i>
								</div>
							</form>
							<form id="text_form2" role="search" onsubmit="send();return false;" >
								<div id="email">
									<input id="mail" class="form-control" type="text" value="Email"
									onfocus="if (this.value=='Email') this.value = ''"  
						    		onblur="if (this.value=='') this.value = 'Email'">
						    		<i id="email_warning">Must contain @ and . </i>	
								</div>
								<button type="button" onclick="send()" id="send_button2">Send</button>
							</form>
						</div>
					</div>
				</div>


				<div id="userFields">
					<div id="title">
						<p><u>Sign Up:</u></p>
					</div>
					<div id="content">
						<div id="content_box">
							<form id="text_form" role="search" onsubmit="send();return false;" >
								<div id="usrename">
									<input id="usrname" class="form-control" type="text" value="Username"
									onfocus="if (this.value=='Username') this.value = ''"  
						    		onblur="if (this.value=='') this.value = 'Username'">
						    		<i id="usrname_warning">More than 4 characters</i>
								</div>
							</form>
							<form id="text_form" role="search" onsubmit="send();return false;" >
								<div id="passwrd">
									<input id="pass" class="form-control" type="password" value="Password"
									onfocus="if (this.value=='Password') this.value = ''"  
						    		onblur="if (this.value=='') this.value = 'Password'">
						    		<i id="password_warning">More than 6 digits.</i>
								</div>
							</form>
							<form id="text_form" role="search" onsubmit="send();return false;" >
								<div id="email">
									<input id="mail" class="form-control" type="text" value="Email"
									onfocus="if (this.value=='Email') this.value = ''"  
						    		onblur="if (this.value=='') this.value = 'Email'">
						    		<i id="email_warning">Must contain @ and . </i>	
								</div>
								<button type="button" onclick="send()" id="send_button">Send</button>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>

		<footer>
			<div id="left_footer">
				<span class="lang-xs" lang="en"></span>	
			</div>
			<div id="right_footer">
				<p>© Copyright 2015 Theologitis Themistoklis. All Rights Reserved</p>	
			</div>
		</footer>
	</body>
</html>