body{
	height: 100%;
	width: 	100%;
	background-color: black;
	overflow: hidden;
}


button:focus {outline:0 !important;}

header{
	background-color: #222;
	height: 7%;
	width: 100%;
	display: block;
	float: left;
}

/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: orange
}
.navbar-header {
    position: relative;
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}


#main #navbarCollapse0{
	background-color: black;
	float: left;
	display: inline;
	height: 560px;
	width: 80%;
}

#search_form_slidemenu{
	height: 40px;
	width: 95%;
	margin-left: 2.5%;
	float: left;
	display: block;
	margin-top: 10px;
	background-color: #222;
}
#search_bar_left_slidemenu{
	height: 30px;
	margin-top: 3px;
	width: 65%;
	float: left;
	display: inline;
	margin-left: 5%;
	border-bottom: none;
}
#search_bar_item_slidemenu{
	width: 100%;
	height: 100%;
	background-color: #222;
	box-shadow: none;
	border-top: none;
	border-left: none;
	border-right: none;
	color: white;
	padding-top: 10px;
}
#search_bar_button_slidemenu{
	width: 8%;
	height: 100%;
	float: left;
	display: inline;
	margin-top: 10px;
}
#search_button_slidemenu{
	background-color: #222;
	border: none;
	font-size: 16px;
	margin-top: 0px;
}
#filter_menu{
	width: 95%;
	height: 89%;
	margin-left: 2.5%;
	margin-top: -10px;
	float: left;
	display: block;
	background-color: #222;
	border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: black;
}

#myNavbar{
	width: 100%;
	height: 7%;
	display: inline;
	float: left;
	border: none;
}
#title{
	height: 100%;
	width: 20%;
	margin-left: 5%;
	float: left;
	display: inline;
}
#myNavbar #navbar-brand{
	padding-top: 10%;	
	font-size: 26px;
	display: inline;
	float: left;
	color: white;
}
#button_left_menu{
	display: none;
}


#search_bar{
	height: 100%;
	width: 25%;
	float: left;
	display: inline;
	margin-left: 15%;
}
#search_form{
	height: 100%;
	width: 100%;
	float: left;
	background-color: #222 !important;
	color: white;
}
#search_bar_left{
	width: 90%;
	height: 100%;
	float: left;
	display: inline;
	background-color: #222;
	color: white;
}


#search_bar_item{
	width: 100%;
	height: 80%;
	background-color: #222!important;
	box-shadow: none;
	border-top: none;
	border-left: none;
	border-right: none;
	color: white;
	padding-top: 20px;	
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
	background-color: #FFFFFF !important;
	color: #555 !important;
	transition: background-color 5000s ease-in-out 0s;
	-webkit-box-shadow: 0 0 0 1000px #222 inset !important;
	-webkit-text-fill-color: white !important;
}


#search_bar_button{
	width: 10%;
	height: 100%;
	float: left;
	display: inline;
}
#search_button{
	background-color: #222;
	border: none;
	font-size: 20px;
	margin-top: 15px;
}


#main_menu{
	height: 100%;
	width: 22%;
	margin-left: 13%;
	float: left;
	display: inline;
}
#navbarCollapse{
	background-color: #222;
	width: 100%;
	height: 49px;
}
#dropdownMenu{
	background-color: #222;
	margin-top: -1px;
}
#dropdownMenu a{
	color: #9d9d9d;
}

#main{
	height: 90%;
	width: 100%;
	float: left;
	display: block;
	background-color: #336699;
}

#main #tweet_window{
	height: auto;
	width: 	590.391px;
	float: left;
	display: inline;
	margin-left: 29.5%;
	margin-top: 10px;
}

#main #filter_window{
	height: 90%;
	width: 	18%;
	background-color: #222;
	float: left;
	display: inline;
	margin-top: 0%;
	border-top-color: #222;
	border-bottom: 1px solid black ;
	overflow-y: scroll;
}

footer{
	height: 3%;
	width: 100%;
	background-color: #222;
	display: block;
	float: left;
	text-align: right;
	padding-right: 1%;
}

footer p{
  font-size: 11px;
  width: 100%;
  color: white;
  margin-left: 0.2%;
  clear: both;
  font-family: 'Lucida Grande';
  font-style: italic;
  font-variant: normal;
  display: inline;
}

#left_footer{
	display: inline;
}

#right_footer{
	display: inline;
}

.lang-xs{
	display: inline;
	color: white;
	margin-left: 1%;
	margin-top: 2px;
}

#twits a{
	color: black;
	text-decoration: none;
}

@media screen and (max-width: 767px){ 

	body.slide-active {
    	overflow-x: hidden
	}

	.no-margin-top {
	    margin-top: 0px;
	}

	body{
		height: 100%;
		width: 	100%;
		background-color: black;
	}
	header{
		background-color: #222;
		height: 50px;
		width: 100%;
		display: block;
		float: left;
	}

	.navbar-header {
	    margin: 0 auto;
	    padding: 0 15px;
	}

	.navbar-header .navbar-brand{
		color: white;
	}
	.navbar.slide-active {
	    position: absolute;
	    width: 100%;
	    top: -1px;
	}
	.navbar.slide-active .icon-bar {
	    background: orange;
	}
	#slidemenu {
	    left: -100%;
	    width: 80%;
	    height: 100%;
	    min-width: 0;
	    position: absolute;
	    padding-left: 0;
	    z-index: 10;
	    top: -8px;
	    margin-top: 50px;
	    background-color: black;
	    overflow-y: auto; 
	}

	#slidemenu .navbar-nav {
	    min-width: 0;
	    width: 100%;
	    height: 100%;
	    margin: 0;
	}
	#slide-nav {
	    border-top: 0;
	}
	.navbar-inverse #slidemenu {
	    background: black;
	}

	#search_form_slidemenu{
		width: 99%;
		margin-left: 0px;
	}

	#RemoveAll span:hover, #RemoveAll span:hover span {
	    color: #9A1A4A;
	}

	.glyphicon-plus {
       color: #F00; 
   }

	.filter-item.selected .chkbox{
		background-position: 0 -15px;
	}

	#remove_button , #submitUsers_button , #submitHashtag_button , #submit_Order_button{
		float: right;
		display: block;
		height: 24px;
	}

	#submitDate_button{
		float: right;
		display: inline;
		height: 24px;
	}

	#calendar{
		float: left;
		display: inline;
		width: 85%;
		height: 24px;
	}

	.glyphicon.glyphicon-trash{
		font-size: 14px;
	}

	.chkbox{
		display: inline-block;
	    width: 15px;
	    height: 15px;
	    background-image: url(../images/chkb.png);
	    background-repeat: no-repeat;
	    background-position: 0 0;
	    margin-right: 4px;
	}

	#flist span , #DateUp span , #DateDown span , #Popular span , #Retweeted span{
		color: white;
		position: relative;
	}

	.panel h4 a , #nav-navbar-nav a{
		font-size: 14px;
	}

	#filter_menu{
		float: left;
		display: block;
		width: 99%;
		height: 100%;
		margin-left: 0px;
		margin-top: -15px;
	}

	#filter_tweets{
		float: left;
		display: block;
		width: 99%;
		height: 59%;
		margin-left: 0px;
		background-color: #222;
	}

	#search_bar{
		display: none;
		height: 100%;
		width: 0%;
		float: left;
		margin-left: 15%;
	}

	#main_menu{
		height: 0%;
		width: 0%;
		margin-left: 0%;
		float: left;
		display: none;
	}

	#main{
		height: 90%;
		width: 100%;
		float: left;
		display: block;
		background-color: #336699;
		overflow-y: scroll;
	}	

	#main #tweet_window{
		height: auto;
		width: 	90%;
		background-color: #336699;
		float: left;
		display: inline;
		margin-left: 5%;
		margin-top: 5px;
	}

	#main #tweet_window ul li{
		display: block;
	}


	#twits{
		float: left;
		display: block;
		height: auto;
		width: 95%;
		margin-left: 2.5%;
		background-color: white;
		border: 5px solid #336699 ;
		border-top:none;
		border-left: none;
		border-right: none;
	}

	#down {
	    float: left;
	    display: block;
	    height: auto;
	    width: 100%;
	    background-color: white;
	}

	#img {
	    float: left;
	    display: inline;
	    height: auto;
	    width: auto;
	    margin-left: 2px;
	}

	#profile_img {
	    width: auto;
	    height: auto;
	    margin-left: 6px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    margin-top: 4%;
	}

	#right_tw {
	    float: left;
	    display: inline;
	    height: auto;
	    width: 88%;
	    background-color: white;
	}

	#user_username_time {
	    float: left;
	    display: block;
	    height: auto;
	    width: 100%;
	}

	#username {
	    float: left;
	    display: block;
	    height: auto;
	    margin-left: 5px;
	    font-size: 14px;
	    margin-top: 0px;
	    color: #292f33;
	    font-weight: bold;
	}

	#screenname {
	    float: left;
	    display: block;
	    height: auto;
	    margin-left: 2px;
	    margin-top: 2px;
	    font-size: 13px;
	    color: #8899a6;
	}

	#tweet_date {
	    float: left;
	    display: block;
	    height: 18px;
	    width: 100%;
	    margin-left: 0px;
	    margin-top: 2px;
	    font-size: 12px;
	    color: #8899a6;
	}

	#text {
	    float: left;
	    display: block;
	    height: auto;
	    width: 100%;
	    margin-top: 0px;
	}

	#favRt {
	    float: left;
	    display: block;
	    height: 19px;
	    width: 100%;
	    background-color: white;
	}

	#fav_icon {
	    float: left;
	    display: inline;
	    height: 14px;
	    width: 14px;
	    margin-left: 12%;
	}

	#rt_icon {
	    float: left;
	    display: inline;
	    height: 14px;
	    width: 14px;
	    margin-left: 3%;
	}

	#rt_count {
	    float: left;
	    display: inline;
	    margin-left: 6px;
	    font-size: 12px;
	    font-weight: bold;
	    margin-top: 0px;
	}

	#fav_count, #rt_count {
	    float: left;
	    display: inline;
	    margin-left: 6px;
	    font-size: 12px;
	    font-weight: bold;
	    margin-top: 0px;
	}


	#main #filter_window{
		height: auto;
		width: 	48%;
		background-color: #999;
		margin-left: 0px;
		float: left;
		display: none;
		margin-left: 0px;
		margin-top: 0px;
	}

	#navbarCollapse
	{
		float: left;
		display: block;
		width: 100%;
		height: 100%;
		margin-top: 15px;
		border : none;
		overflow-y: scroll; 
	}

	.navbarCollapse{
		height: auto;
		width: 100%;
		overflow-y: scroll; 
	}

	#nav-navbar-nav{
		float: left;
		height: auto;
	}

	#nav-navbar-nav li{
		margin-top: 0px;
	}

	.panel-group .panel {
	    margin-bottom: 0;
	    border-radius: 0;
	    background-color: #222;
	    border: 1px solid transparent;
	    box-shadow: 0 1px 1px rgba(0 1px 1px rgba(0,0,0,0.05));
	    margin-top: 0px;
	}

	footer{
		display: none;
	}
	footer #left_footer{
		display: none;
	}
	footer p{
	  display: none;
	}
}

@media screen and (min-width: 768px){ 

	header{
		height: 50px;
	}

	#top_logo{
		float: left;
		display: inline;
		margin-top: 3px;
		margin-left: -10px;
	}

	#slide-nav{
		height: 50px;
	}

	#slidemenu{
		display: none;
	}

	#filter_window {
		position: fixed;
	}

	div.panel-body{
		padding: 5px;
	}

	#option_box{
		float: left;
		display: block;
		max-height:23.1%;
		width: 90%;
		margin-left: 5%;
		overflow: scroll;
		border-bottom: 1px solid black;
	}

	.chkbox{
		display: inline-block;
	    width: 15px;
	    height: 15px;
	    background-image: url(../images/chkb.png);
	    background-repeat: no-repeat;
	    background-position: 0 0;
	    margin-right: 4px;
	}

	#RemoveAll{
		margin-left: 5%;
		margin-top: 0px;
		color: white;
	}

	#RemoveAll i{
		margin-top: 4px;
	}

	#removeAll_div{
		float: left;
		display: block;
		margin-top: 1%;
		width: 100%;
	}

	#RemoveAll span:hover, #RemoveAll span:hover span {
	    color: #9A1A4A;
	}

	.glyphicon-plus {
       color: #F00; 
   }

	.filter-item.selected .chkbox{
		background-position: 0 -15px;
	}

	#remove_button , #submitUsers_button , #submitHashtag_button , #submit_Order_button{
		float: right;
		display: block;
		height: 24px;
	}

	#submitDate_button{
		float: right;
		display: inline;
		height: 24px;
	}

	#calendar{
		float: left;
		display: inline;
		width: 85%;
		height: 24px;
	}

	.glyphicon.glyphicon-trash{
		font-size: 14px;
	}

	#flist span , #DateUp span , #DateDown span , #Popular span , #Retweeted span{
		color: white;
		position: relative;
	}

	#Popular span , #DateUp span , #DateDown span , #Retweeted span{
		margin-left: 7%;
	}

	#flist , #DateUp , #DateDown , #Popular , #Retweeted{
		margin-top: 2px;
	}

	#filter_list a:hover, #filter_list a:hover span {
	    color: #9A1A4A;
	}

	#filter_list a , .panel-body a{
		text-decoration: none;
		background: transparent;
	}

	#hashtag_list a:hover, #hashtag_list a:hover span {
	    color: #9A1A4A;
	}

	#hashtag_list a , .panel-body a{
		text-decoration: none;
		background: transparent;
	}

	#button_item{
		height: 25px;
		color: black;
		margin-left: 5px;
		-moz-border-radius: 4px;
    	-webkit-border-radius: 4px;
    	border-color: black;
    	margin-top: 5px;
    	background-color: white
	}

	#panel0{
		margin-top: 10%;
	}

	.panel-group .panel
	{
	    margin-bottom: 0;
		border-radius: 0;
		background-color: #222;
		border: 1px solid transparent;
		box-shadow: 0 1px 1px rgba(0 1px 1px rgba(0,0,0,0.05));
		margin-top: 5px;
	}

	.panel-heading {
	    border:none;
	}

	#filterBy_title a,#filterBy_HashTag a,#filterBy_Date a, #filterOrderBy a{
		margin-left: 5%;
		color: white;
	}

	#datepicker{
		width: 90%;
		height: 24px;
		margin-left: 5%;
	}

	#ui-datepicker-div{
		font-size:	81%;
		margin-top: 8px;
	}	

	.navbar-header .navbar-brand{
		color: white;
		font-size: 22px;
		height: 7%;
		padding-left: 3%;
	}

	.navbar-header{
		margin-left: 0%;
		height: 50px;
		width: 30%;
	}

	#search_bar{
		height: 50px;
		width: 40%;
		margin-left: 1%;
	}

	#main{
		overflow-y: scroll;
	}

	#tweet_window{
		height: auto;
		display: inline;
	}

	#main_menu{
		width: 70%;
		margin-left: 0%;
	}

	#search_form{
		width: 20%;
		float: left;
		display: inline;
		margin-left: 18%;
	}

	#search_bar_left{
		width: 80%;
	}

	#search_bar_button{
		width: 1%;
	}

	#navbarCollapse
	{
		float: right;
		display: inline;
		width: 400px;
		min-height: 0px;
		max-height: 49px;	
		position: relative;
	}

	#twits{
		float: left;
		display: block;
		width: 650px;
		background-color: white;
		border: 5px solid #336699 ;
		border-top:none;
		border-left: none;
		border-right: none;
	}

	#nav-navbar-nav{
		float: right;
		margin-right: 1%;
	}

	#retweet{
		float: left;
		display: block;
		height: 5px;
		width: 100%;
		/*display: none;*/
	}

	#down{
		float: left;
		display: block;
		height: auto;
		width: 100%;
		background-color: white;
	}

	#favRt{
		float: left;
		display: block;
		height: 19px;
		width: 100%;
		background-color: white;
	}

	#fav_icon{
		float: left;
		display: inline;
		height: 16px;
		width: 16px;
		margin-left: 12%;
	}

	#rt_icon{
		float: left;
		display: inline;
		height: 16px;
		width: 16px;
		margin-left: 3%;
	}

	#img{
		float: left;
		display: inline;
		height: auto;
		width: 11%;
		margin-left: 2px;
	}

	#profile_img{
		width: 48px;
		height: 48px;
		margin-left: 6px;
		-moz-border-radius: 4px;
    	-webkit-border-radius: 4px;
    	margin-left: 7px;
    	margin-top: 12%;
	}

	#right_tw{
		float: left;
		display: inline;
		height: auto;
		width: 88%;
		background-color: white;
	}

	#user_username_time{
		float: left;
		display: block;
		height: 25px;
		width: 100%;
		position: relative;
	}

	#username{
		float: left;
		display: inline;
		height: auto;
		margin-left: 5px;
		font-size: 14px;
		margin-top: 3px;
		color: #292f33;
		font-weight: bold;
	}

	#screenname{
		float: left;
		display: inline;
		height: auto;
		margin-left: 2px;
		margin-top: 6px;
		font-size: 13px;
		color: #8899a6;
	}

	#tweet_date{
		float: left;
		display: inline;
		height: auto;
		margin-left: 7px;
		margin-top: 6px;
		font-size: 13px;
		color: #8899a6;
		position: absolute;
	}

	#text{
		float: left;
		display: block;
		height: auto;
		width: 100%;
		margin-top: 0px;
	}

	#tweet_text{
		float: left;
		display: inline;
		margin-left: 5px;
		font-size: 16px;
    	line-height: 20px;
	}

	#fav_count, #rt_count{
		float: left;
		display: inline;
		margin-left: 6px;
		font-size: 12px;
    	font-weight: bold;
    	margin-top: 0px;
	}
}


